*{
    font-family:'Stencil Std, fantasy';
    font-size:x-large;
    color: rgb(226, 15, 15);
}
body{
    background-image: url("img/img1.jpg");
    background-size: cover;
}   

form{
    display: flex;
    flex-direction:column;
    margin-top: 10%;
}

.form-row{
    display:flex;
    justify-content: center;
}

label{
    margin-right:2%;

}

input{
    width:max-content;
    margin: 3% auto;
    font-weight:800;
    padding:2em;
}